<div class="topbar">
  <div class="chevron">
    <%= link_to homepage_path do %>
    <i class="fas fa-chevron-left"></i>
    <% end %>
  </div>

  <div class="topbar-title">ABOUT</div>
</div>

<div class="container">

<div class="about-text">
  <h2 class="third-title"><mark></mark>PROJECT</h2>
    <p>
    <br>
    This mobile app was created in two weeks by 4 students of Le Wagon Coding Bootcamp.
    With complete different backgrounds those four students who learned to code in 9 weeks,
    worked on this project to showcase their potential in back-end, front-end, project management and
    creative thinking.<br>
    This is a demo app. Enjoy!
    <br>
    <br>
    Montreal, March 2020.
  </p>
</div>




</div>



