#footer {
  position: fixed;
  width:100%;
  bottom:0;
  z-index: 1000000;
  border: 1px solid $yellow;
}

.change-game-icon {
  font-size: 30px;
  position: absolute;
  z-index: 15;
  margin-bottom: 6px;
  color: white;
}

.footer-nav {
  position: absolute;
  width:100%;
  height: 80px;
  background-color: white;
  bottom: -4px;
  border: 1px solid $yellow;
  border-radius: 50px 50px 0px 0px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding:0;

    li {
      padding: 0 4%;
    }
}

.footer-nav-item {
  display: inline;
}


.footer-icon-section {
  display: flex;
  width: 45%;
  justify-content: space-around;
}

.footer-nav-item i {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 42px;
  color: $yellow;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: $yellow;
}

.active i {
  -webkit-text-stroke-width: 1px;
  color: transparent;
}

.footer-nav-text {
  font-size: 12px;
  margin: 0;
}

.nav-element {
  text-align: center;
}

.b-small-logo {
  display: flex;
  align-items: center;
}


#small-icon.fa-circle {
  font-size: 8px;
  line-height: 2;
  padding-right: 6px;
}

#small-icon.fa-circle:before{
  -webkit-text-stroke-width: 0;
  -webkit-text-stroke-color: $yellow;
  color: $yellow  !important;
}


.letter-logo {
  font-family: $logo-font;
  font-size: 30px;
}

/* Responsive */

@media (min-width: 1200px) {
  #footer {
    display: none;
  }
}
